<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajtalekar.jogman10">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jogman"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Jogman"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HearAlone"
            android:label="Play Now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArtistSongs"
            android:label="@string/title_activity_artist_songs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlbumSongs"
            android:label="@string/title_activity_album_songs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupPlay"
            android:label="@string/title_activity_group_play"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
